/* Some styles to for test viewing */

.mobile, .max  {
	display: none;
}
.mid {
	display: block;
}

:is(.mid,.mobile,.max)::before {
	font-weight: bold;
}
.test.labels .mid::before {
	content: "Mid: ";
}
.test.labels .mobile::before {
	content: "Mobile: ";
}
.test.labels .max:before {
	content: "Max: ";
}

@media (max-width:800px) {
	.mobile {
		display: block;
	}
	.mid {
		display: none;
	}
}

@media (min-width:1200px) {
	.max {
		display: block;
	}
	.mid {
		display: none;
	}
}


