:root {
    --fade-in-transform: translateY(40px);
}

.fade-in-scroll {
    opacity: 0;
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
    will-change: opacity, transform;
}

.fade-in-scroll.fade-in-notvisible {
    transform: var(--fade-in-transform);
}

.fade-in-scroll.fade-in-visible {
    opacity: 1;
    transform: translateY(0) translateX(0);
}