/* 

# Grids

Static part of grids mechanism. For use either with class based mark up or Clik system
*/

.grid, .flex   {
  box-sizing: border-box;
}

.grid {
  display: grid;
  --grid-gap: 0px;
  grid-gap: var(--grid-gap);
  align-content: normal;
  align-items: normal;
  justify-content: normal;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: none;

  --grid-max-height: auto;
  --grid-width: 180px;
  --grid-columns: 3;
  --flex-stretch: 0;
  --flex-direction: row;
  --flex-wrap: row;
  flex-direction: var(--flex-direction);
  flex-wrap: var(--flex-wrap);
}

.flex {
  display: flex;
}

.grid > * {
  height: var(--grid-max-height);
  flex-grow: var(--flex-stretch);
}

.grid img {
  max-width: 100%;
  height: auto;
}

.grid.none {
	display: block;
}

.grid.fit {
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-width),1fr));
}

.grid.fill {
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-width),1fr));
}

.grid.fixed {
	grid-template-columns: repeat(var(--grid-columns), 1fr);
}
 
.grid.fixedwidth {
  grid-template-columns:  repeat(auto-fit, var(--grid-width));
}
/* See notes on mode=rows */
.grid.rows {
	grid-template-columns: 1fr;
}

/* Setting a name seems to cause issues when in other modes*/
.grid:is(.none, .fit, .fill, .fixed, .fixedwidth, .rows) > * {
  grid-area: auto !important;
}
