/* 

# Styling for text items

Basically two ways of working

1. Embrace the idea of title-font and heading font styles

2. Apply a class to all your p and h tags and manually assign everything.

Best not to mix the two.


*/
:root {
	--text-color:initial;
	--text-font: initial;
	--font-size:100%;

	--title-font:inherit;
	--title-font-weight:bold;
	--title-color:inherit;
	--title-font-align: inherit;
	--title-font-size:inherit;

	/* Headings are the cross headers inside text items (see .textWrap) 
	usually we want headings to be the title font but sometimes
	we want something different. The sizes here only apply to these. 
	All sizes applied to titles are done by assigning a font size to the content section (for titles)
	or the cs title panel for e.g. general content sections */
	
	--heading-font: inherit;
	--heading-font-weight:inherit;
	--heading-color:inherit;
	--heading-font-align: inherit;
	--heading-font-size:inherit;

	--heading-margin:0;
	--heading-padding:0;
	--link-color:inherit;

}

body {
	font-family: var(--text-font);
	font-size: var(--font-size);
	color: var(--text-color);
}

/* Need the hover to override reset.css value */
a, a:hover, input.button, input.button:hover {
	color:var(--link-color);
}

.noicon {
	--buttonwidth:0px;
	--buttongap: 0px;
}

.cs-title, .title {
	font-family: var(--title-font);
	font-weight:  var(--title-font-weight);
	text-align: var(--title-font-align);
	color:  var(--title-color);
	font-size: var(--title-font-size);
}

.cs-title a, .cs-title a:hover {
	color:inherit;
}

.cs-text, .textWrap {
	color: var(--text-color);
}

:is(h1, h2, h3, h4, h5, h6) {
	margin: var(--heading-margin);
	font-family:  var(--heading-font);
	font-weight:  var(--heading-font-weight);
	text-align: var(--heading-font-align);
	color:  var(--heading-color);
	font-size: var(--heading-font-size);
}

h1:not([class]) {
	--heading-font-size: 140%;
}
h2:not([class]) {
	--heading-font-size: 120%;
}
h3:not([class]) {
	--heading-font-size: 110%;
}
h4:not([class]), h5:not([class]), h6:not([class]) {
	--heading-font-size: 100%;
}


